.post{
font-family:georgia;
font-style:italic;
font-size:20px;
text-align:center;
}
.savebutton{
width:20%;
margin-left:3%;
margin-top:1%;
}
body{
background-image: url("Background.png");
}
input{
border: 0;
outline: 0;
background: transparent;
border-bottom: 1px solid black;
}

a:link, a:visited{
background-color: black;  color: white;
padding: 14px 25px;       text-align: center;
text-decoration: none;    display: inline-block;
}
a:hover, a:active{
background-color: red;
}
