{% extends 'app/base.html' %}
{% block content %}
<title>Login</title>
<center>
{% if user.is_authenticated %}
<h1>LIST</h1>
<h2>Hello {{ user.get_full_name|default:user.username }}!</h2>
<a href="{% url 'logout' %}?next={% url 'pagemain' %}">Logout</a>
</br>
<table>
<tr>
<td>Accepted</td>
</tr>
<tr>
<td>
<form method='POST'>
  {% for accept in accept %}
 <input type="checkbox" name="tentative">{{accept.title}} WITH  {{accept.myname}} AT {{accept.start_date}} TILL {{accept.end_date}}
 <br>
 {% endfor %}
<br>
</td>
</tr>
</table>
<button style= width:200px; type="submit" class="savebutton" name="Deny">Deny</button>
<button style= width:200px; type="submit" class="savebutton" name="Tentative">Tentative</button>
</form>
<br><br>
<a href="{% url 'denied' %}">Denied</a>
<a href="{% url 'home' %}">Tentative</a>
<a href="{% url 'accept' %}">Accepted</a>
{% else %}
<h1>Login through Google</h1>
<h2>Please Login First!</h2>
<a href="{% url 'main' %}">Return to main page</a>
{% endif %}
</center>
{% endblock %}
