{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/app.css' %}">
<div class="post">
<title>Request Appointment</title>
<style type="text/css">
.post{
margin-top:8%;
}
</style>
</head>
<body>
<h1>New Request</h1>
    <form method='POST' class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="savebutton">Submit Request</button>
    </form>
</body>
</div>
</html>
