{% extends 'app/base.html' %}
{% block content %}
<head>
<title>Request Appointment</title>
<style>
body {
    background: white url("/static/images/background1.png") no-repeat center center fixed;
    background-size: cover;
  }
.post {
    margin-left: 25%;
    margin-right: 25%;
    border:15px groove rgba(0,0,0,0.1);
    padding-bottom: 1%;
    background-color: white;
}
p{
  font-size: 22px;
}
</style>
</head>
<body>
  <center>
  <h1 style= color:white;>New Request</h1>
</center>
  <div class="post">
    <center>
    <h2 style= color:black;>Meeting With<h2>
    <form method='POST'>
      <p>Employee's Name: {{form.ename}}</p>
      <p>Purpose: {{form.title}}</p>
      <p>Description</p>
      <p>{{form.purpose}}</p>
      <p>Start Time: {{form.start_date}}</p>
      <p>End Time: {{form.end_date}}</p>
      <h2 style= color:black;>Your Information<h2>
      <p>Name: {{form.myname}}</p>
      <p>Mail: {{form.mail}}</p>
      <p>Phone: {{form.phone}}</p>
        <button style= width:200px; type="submit" class="savebutton">Submit</button>    </form>
      </center>
      </div>
{% endblock %}
