{% extends 'app/base.html' %}
{% block content %}
<title>Login</title>
<center>
{% if user.is_authenticated %}
<div id="namelogout">
  <h2>Hello {{ user.get_full_name|default:user.username }}!</h2>
  <a href="{% url 'logout' %}?next={% url 'pagemain' %}">Logout</a>
</div>
<h1>Appointment Approval</h1>
<a href="{% url 'denied' %}">Denied</a>&nbsp;&nbsp;
<a href="{% url 'home' %}">Tentative</a>&nbsp;&nbsp;
<a href="{% url 'accept' %}">Accepted</a>
<br><br>
<table>
<tr>
<td>Denied</td>
</tr>
<tr>
<td>
<form method='POST'>
  {% for denied in denied %}
 <input type="checkbox" name="denied" value="{{ denied.ID }}">{{denied.title}} WITH  {{denied.myname}} AT {{denied.start_date}} TILL {{denied.end_date}}
 <br>
 {% endfor %}
<br>
</td>
</tr>
</table>
<button style= width:200px; type="submit" class="savebutton" name="Tentative">Tentative</button>
<button style= width:200px; type="submit" class="savebutton" name="Accept">Accept</button>
</form>
<br><br>
{% else %}
<h1>Login through Google</h1>
<h2>Please Login First!</h2>
<a href="{% url 'main' %}">Return to main page</a>
{% endif %}
</center>
{% endblock %}
