{% extends 'app/base.html' %}
{% block content %}
<head>
<title>Login</title>
<style>
body {
    background: white url("/static/images/background1.png") no-repeat center center fixed;
    background-size: cover;
}
.post {
    margin-left: 1%;
    margin-right: 25%;
    border:15px groove rgba(0,0,0,0.1);
    margin-top: 5%;
    padding-bottom: 1%;
    background-color: white;
}
h1{
  color:#FFFFFF;
}
h2{
  color:#FFFFFF;
}
</style>
</head>
{% if user.is_authenticated %}
<div id="namelogout">
  <center>
  <h2>Hello {{ user.get_full_name|default:user.username }}!</h2>
  <a href="{% url 'logout' %}?next={% url 'pagemain' %}">Logout</a>
  <center>
</div>
<h1 style= margin-left:5%;>Appointment Approval</h1>
<div style= margin-left:5%;>
<a href="{% url 'denied' %}">Rejected</a>&nbsp;&nbsp;
<a href="{% url 'home' %}">Requested</a>&nbsp;&nbsp;
<a href="{% url 'accept' %}">Approved</a>
</div>
<div class="post">
<table style= margin-left:4%;>
<tr>
<td>Denied</td>
</tr>
<tr>
<td>
<form method='POST'>
  {% for denied in denied %}
 <input type="checkbox" name="denied" value="{{ denied.ID }}">{{denied.title}} WITH  {{denied.myname}} AT {{denied.start_date}} TILL {{denied.end_date}}
 <br>
 {% endfor %}
<br>
</td>
</tr>
</table>
<button style= width:200px; type="submit" class="savebutton" name="Tentative">Tentative</button>
<button style= width:200px; type="submit" class="savebutton" name="Accept">Accept</button>
</form>
</div>
<br><br>
{% else %}
<h1>Login through Google</h1>
<h2>Please Login First!</h2>
<a href="{% url 'main' %}">Return to main page</a>
{% endif %}
{% endblock %}
