{% extends 'app/base.html' %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% block main %}
 <div>
 <h1>Third-party authentication demo</h1>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'list' %}">Login with Google</a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}
