{% extends 'app/base.html' %}
{% block content %}
<head>
<title>Login</title>
<style>
body {
    background: white url("/static/images/background1.png") no-repeat center center fixed;
    background-size: cover;
    color:#FFFFFF;
}
</style>
</head>
<center>
{% if user.is_authenticated %}
<div id="namelogout">
  <h2>Hello {{ user.get_full_name|default:user.username }}!</h2>
  <a href="{% url 'logout' %}?next={% url 'pagemain' %}">Logout</a>
</div>
<h1>Appointment Approval</h1>
<div id="red"><a href="{% url 'denied' %}">Rejected</a>&nbsp;&nbsp;</div>
<div id="yellow"><a href="{% url 'home' %}">Requested</a>&nbsp;&nbsp;</div>
<div id="green"><a href="{% url 'accept' %}">Approved</a></div>
<br><br>
<table>
<tr>
<td>Tentative</td>
</tr>
<tr>
<td>
<form method='POST'>
  {% for tentative in tentative %}
 <input type="checkbox" name="tentative" value="{{ tentative.ID }}">{{tentative.title}} WITH  {{tentative.myname}} AT {{tentative.start_date}} TILL {{tentative.end_date}}
 <br>
 {% endfor %}
<br>
</td>
</tr>
</table>
<button style= width:200px; type="submit" class="savebutton" name="Deny">Deny</button>
<button style= width:200px; type="submit" class="savebutton" name="Accept">Accept</button>
</form>
<br><br>
{% else %}
<h1>Login through Google</h1>
<h2>Please Login First!</h2>
<a href="{% url 'main' %}">Return to main page</a>
{% endif %}
</center>
{% endblock %}
