{% extends 'app/base.html' %}
{% block content %}
<title>Login</title>
<center>
{% if user.is_authenticated %}
<h1>LIST</h1>
<h2>Hello {{ user.get_full_name|default:user.username }}!</h2>
<a href="{% url 'logout' %}?next={% url 'pagemain' %}">Logout</a>
</br>
<table>
<tr>
<td>Tentative</td>
</tr>
<tr>
<td>
<form method='POST'>
  {% for tentative in tentative %}
 <a href>
 <input type="checkbox">{{tentative}}</a>
 <br>
 {% endfor %}
<br>
<button style= width:200px; type="submit" class="savebutton" name="Deny">Deny</button>
</td>
</form>
</tr>
</table>
{% else %}
<h1>Login through Google</h1>
<h2>Please Login First!</h2>
<a href="{% url 'main' %}">Return to main page</a>
{% endif %}
</center>
{% endblock %}
