{% extends 'app/base.html' %}
{% block content %}
<head>
  <title>Registration Form</title>
<style>
body {
    background: white url("/static/images/background1.png") no-repeat center center fixed;
    background-size: cover;
    color:#FFFFFF;
  }
</style>
</head>
<div class="post">
<style type="text/css">
.post{
margin-top:15%;
}
</style>
 <h1 style= margin-left:3%;>Enter the required details</h1>
    <form method='POST' class="post-form">{% csrf_token %}
        {{ regform.as_p }}
        <button style= width:200px; type="submit" class="savebutton">Register</button>
    </form>
</div>
{% endblock %}
